body {
    background: white;
    background: linear-gradient(90deg, white 0%, rgb(57, 107, 160) 100%);
}

.Tab-one {
    font-size: 36px;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Numbers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}



 